<div class="navbar">
    <div class="logo">Shopping</div>
    <div class="nav-links">
        <a href="#">Home</a>
        <!-- <a href="#">Product</a>
        <a href="#">Help</a>
        <a href="#">Contact</a> -->
    </div>
    <div class="nav-icons">
        <form [formGroup]="myForm">
            <input type="text" placeholder="Search for Product" formControlName="myInput" (keydown.enter)="searchProduct()" />
        </form>
        <span class="icon">♡</span>
        <span class="icon">🛒</span>
        <span class="icon">👤</span>
    </div>
</div>
  
<div class="banner">
    <h2>All Products</h2>
</div>
  
<div class="categories-section">
    <h3>Product Categories</h3>
    <div class="categories">
        <div class="category">Consumer Electronics</div>
    </div>
</div>
  
<!-- 
    Here I am using @for loop to iterate over the array of products and display them.
    if we do not have the product list we make an api call and get the response using async.

-->

<div class="products-section">
    @for(
        product of (productsService.products ? productsService.products : productsService.productsSubject$ | async)
        ; track product.id) 
    {
        <div class="product-card">
            <img [src]="product.image" alt="{{ product.name }}" />
            <div class="product-info">
            <h4>{{ product.name }}</h4>
            <p>${{ product.price }}</p>
            </div>
        </div>
    }
</div>