@if(isLoginPage) {
    <div class="signin-container">
        <div class="signin-box">
            <h1>Sign in</h1>
            @if(errorMessage) {
                <div>{{ errorMessage }}</div>
            }
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <label for="email" >E-mail address</label>
                <input type="text" id="email" name="email" formControlName="email" required>

                <label for="password">Password</label>
                <input type="text" id="password" name="password" formControlName="password" required>

                <button type="submit" class="submit-button">Login</button>
            </form>

            <div class="new-to-shopping">
                <p>New to Shopping?</p>
                <a routerLink="/signup" class="create-account-button">Create your Shopping account</a>
            </div>
        </div>

        <!-- <footer>
            <a href="#">Conditions of Use</a>
            <a href="#">Privacy Notice</a>
            <a href="#">Help</a>
            <p>&copy; 1996-2024, Amazon.com, Inc. or its affiliates</p>
        </footer> -->
    </div>
} @else {
    <div class="signin-container">
        <div class="signin-box">
            <h1>Sign In</h1>
            @if(errorMessage) {
                <div>{{ errorMessage }}</div>
            }
            <form [formGroup]="signupForm" (ngSubmit)="createAccount()">
                <label for="name">Your name</label>
                <input type="text" id="name" name="name" formControlName="name" required>
    
                <label for="email" >Email</label>
                <input type="text" id="email" name="email" formControlName="email" required>
    
                <label for="password" >Password</label>
                <input type="text" id="password" name="password" formControlName="password" required>
    
                <label for="passwordAgain" >Password again</label>
                <input type="text" id="passwordAgain" name="passwordAgain" formControlName="passwordAgain" required>
    
                <button type="submit" class="continue-button">Create Account</button>
            </form>
    
            <p class="already-have-account">
                Already have an account? <a routerLink="/login">Sign in</a>
            </p>
        </div>
    </div>
}
