<div class="navbar">
    <div class="logo">Shopping</div>
    <div class="nav-links">
        <a [routerLink]="['/home']">Home</a>
        <!-- <a href="#">Product</a>
        <a href="#">Help</a>
        <a href="#">Contact</a> -->
    </div>
    <div class="nav-icons">
        <form [formGroup]="myForm">
            <input type="text" placeholder="Search for Product" formControlName="myInput" (keydown.enter)="searchProduct()" />
        </form>
        <span class="icon" (click)="goToCart()">🛒</span>
        @if(authService.currentUserSig() === null) {
            <span class="icon" (click)="goToLogin()">👤Login</span>
        } @else {
            <span class="icon" (click)="logout()">{{authService.currentUserSig()?.name}}👤Logout</span>
        }
    </div>
</div>