@defer {
    <div class="product-page">
        <div class="product-gallery">
            <!-- <div class="thumbnail-images">
                <img src="path_to_thumbnail_1.jpg" alt="Thumbnail 1">
                <img src="path_to_thumbnail_2.jpg" alt="Thumbnail 2">
                <img src="path_to_thumbnail_3.jpg" alt="Thumbnail 3">
                <img src="path_to_thumbnail_4.jpg" alt="Thumbnail 4">
            </div> -->
            <div class="main-image">
                <img [src]="product?.image" [alt]="product?.name">
            </div>
        </div>

        <div class="product-details">
            <h1>{{product?.name}}</h1>
            <p class="price">{{product?.price}}</p>
            <!-- <p><strong>Only 2 left in stock.</strong></p> -->
            <label for="quantity">Quantity:</label>
            <select id="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <div class="buttons">
                <button class="add-to-cart">Add to Cart</button>
                <button class="buy-now">Buy Now</button>
            </div>
        </div>
    </div>
}